body {
    place-content: center;
    display: grid;
    background-color: rgba(156, 25, 25, 0.496);
    font-family: monospace;
}

#opciones {
    background-color: rgb(109, 106, 109);
    border: 1em solid rrgb(100, 129, 100);
}

#ventas {
    background-color: rgb(102, 96, 96);
    place-content: flex-end;
    display: flex;
}
#opciones,#compras-realizadas{      
    place-content: center;
    display: grid;
    background-color: rgb(102, 96, 96);
    
}
img {
    width: 80px;
}

#comercio {
    background-color: rgb(37, 53, 95);
    place-content: flex-end;
    display: flex;
}

#producto-0 {
    background-color: white;
}

#producto-1 {
    background-color: blueviolet;
}

#producto-2 {
    background-color: red;
}

#producto-3 {
    background-color: yellow;
}
